#m_schedule_main .nav-icon {
    font-weight: 600;
}

#m_schedule_main .bar-header-secondary {
    height: 6rem;
}

#m_schedule_main .calendar-selected {
    color: white !important;
    background-color: rgb(73, 169, 242) !important;
    width: 1.75rem !important;
    height: 1.75rem !important;
}
#m_schedule_main .calendar-unselected {
    color: black !important;
    background-color: rgba(73, 169, 242,0) !important;
    width: 1.75rem !important;
    height: 1.75rem !important;
}